<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  href="{{url_for('static',filename='css/tosyo.css')}}"/>
    <title>登録</title>
  </head>
  <body class="backgrounds">
    <div>
      <h3>登録画面</h3>
      {% if error != null %}
      <p style="color: red">{{error}}</p>
      {% endif %}
      <form action="{{url_for('book_register')}}" method="post">
        ISBN:<input type="text" name="isbn" value="{{isbn}}" ><br/>
        タイトル:<input type="text" name="title" value="{{title}}" ><br/>
        著者:<input type="text" name="author" value="{{author}}" ><br/>
        出版社：<input type="text" name="publisher" value="{{publisher}}" ><br/>
        <button style="color:red" type="submit">登録</button>
      </form>
    </div>
  </body>
</html>
