<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"href="{{url_for('static',filename='css/tosyo.css')}}"/>
    <title>一覧</title>
  </head>
  <body class="backgrounds">
    <div>
      <h3>一覧</h3>
      <table border>
        <thead>
          <tr>
            <th>ISBN</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <a href="{{url_for('mypage')}}">HOMEへ</a>
    </div>
  </body>
</html>
