<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/toayo.css')}}"/>
    <title>ユーザ登録</title>
  </head>
  <body class="backgrounds">
    <div>
      <h3>ユーザ登録画面</h3>
      {% if error != null %}
      <p style="color: red">{{error}}</p>
      {% endif %}
      <form action="{{url_for('register_exe')}}" method="post">
        ユーザ名:<input type="text" name="username" value="{{user_name}}"><br/>
        メールアドレス:<input type="text" name="mail" value="{{mail}}"><br/>
        パスワード：<input type="password" name="password" value="{{password}}"><br/>
        <button style="color:red" type="submit">登録</button>
      </form>
    </div>
  </body>
</html>
